*{
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

body{
    /* margin: 1rem; */
    /* padding: 1rem; */
    text-align: center;
    justify-content: center;
     background-color: #bbb;
}
button{
    width: 200px;
}